In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN','NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts().loc[lambda x : x<500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [4]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df['CLASSIFICATION'].value_counts().loc[lambda x : x<100].index.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [5]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dum_df = pd.get_dummies(application_df)
application_dum_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [6]:
# Split our preprocessed data into our features and target arrays
X = application_dum_df.drop(['IS_SUCCESSFUL'], axis=1)
y = application_dum_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [7]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Model 2

In [8]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=80
hidden_nodes_layer2=30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# # Third hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                4000

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 6,461
Trainable params: 6,461
Non-trainable params: 0
_________________________________________________________________

In [9]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [10]:
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5702 - accuracy: 0.7180
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5539 - accuracy: 0.7282
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5513 - accuracy: 0.7290
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5495 - accuracy: 0.7310
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7314
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7317
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7318
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7307
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7333
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7340
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7333
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7343
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7345
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7340
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7351
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7344
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7338
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7352
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7348
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7347
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7358
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7360
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7358
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7363
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7357
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7361
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7372
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7369
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7369
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7367
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7365
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7364
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7377
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7368
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7372
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7374
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7383
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7374
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7381
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7381
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7403
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7374
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7378
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7382
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7382
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7386
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7383
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7372
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7379
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7386
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7388
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7383
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7396
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7385
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7376
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7385
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7386
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7390
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7396
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7400
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7383
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7399
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7400
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7399
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7396
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7400
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7405
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7396
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7396
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7399
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7394
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7404
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7397
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7400
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7411
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7403
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7405
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7399
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7399
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7406
Epoch 81/100

804/804 [==============================] - 1s 2ms/step - loss: 0.5319 - accuracy: 0.7399
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7400
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7406
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7403
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7396
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7395
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5317 - accuracy: 0.7401
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5316 - accuracy: 0.7404
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7407
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5317 - accuracy: 0.7398
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7413
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7404
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7399
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5314 - accuracy: 0.7408
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7402
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5314 - accuracy: 0.7406
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7404
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7409
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7409
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5314 - accuracy: 0.7417

In [11]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5568 - accuracy: 0.7293 - 564ms/epoch - 2ms/step
Loss: 0.5568006038665771, Accuracy: 0.7293294668197632

# Model 3

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=50, activation="tanh", input_dim=len( X_train_scaled[0])
))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=38, activation="relu"))
nn.add(tf.keras.layers.Dense(units=38, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_19 (Dense)            (None, 50)                2500

 dense_20 (Dense)            (None, 38)                1938

 dense_21 (Dense)            (None, 38)                1482

 dense_22 (Dense)            (None, 1)                 39

=================================================================
Total params: 5,959
Trainable params: 5,959
Non-trainable params: 0
_________________________________________________________________

In [24]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 945us/step - loss: 0.5662 - accuracy: 0.7222
Epoch 2/100
804/804 [==============================] - 1s 855us/step - loss: 0.5525 - accuracy: 0.7296
Epoch 3/100
804/804 [==============================] - 1s 822us/step - loss: 0.5497 - accuracy: 0.7300
Epoch 4/100
804/804 [==============================] - 1s 795us/step - loss: 0.5481 - accuracy: 0.7324
Epoch 5/100
804/804 [==============================] - 1s 812us/step - loss: 0.5465 - accuracy: 0.7323
Epoch 6/100
804/804 [==============================] - 1s 815us/step - loss: 0.5451 - accuracy: 0.7340
Epoch 7/100
804/804 [==============================] - 1s 817us/step - loss: 0.5452 - accuracy: 0.7332
Epoch 8/100
804/804 [==============================] - 1s 801us/step - loss: 0.5445 - accuracy: 0.7332
Epoch 9/100
804/804 [==============================] - 1s 817us/step - loss: 0.5433 - accuracy: 0.7332
Epoch 10/100
804/804 [==============================] - 1s 806us/step - loss: 0.5427 - accuracy: 0.7340
Epoch 11/100
804/804 [==============================] - 1s 811us/step - loss: 0.5424 - accuracy: 0.7352
Epoch 12/100
804/804 [==============================] - 1s 810us/step - loss: 0.5418 - accuracy: 0.7348
Epoch 13/100
804/804 [==============================] - 1s 815us/step - loss: 0.5414 - accuracy: 0.7357
Epoch 14/100
804/804 [==============================] - 1s 811us/step - loss: 0.5410 - accuracy: 0.7355
Epoch 15/100
804/804 [==============================] - 1s 818us/step - loss: 0.5402 - accuracy: 0.7369
Epoch 16/100
804/804 [==============================] - 1s 820us/step - loss: 0.5403 - accuracy: 0.7358
Epoch 17/100
804/804 [==============================] - 1s 806us/step - loss: 0.5394 - accuracy: 0.7368
Epoch 18/100
804/804 [==============================] - 1s 821us/step - loss: 0.5391 - accuracy: 0.7364
Epoch 19/100
804/804 [==============================] - 1s 814us/step - loss: 0.5389 - accuracy: 0.7374
Epoch 20/100
804/804 [==============================] - 1s 811us/step - loss: 0.5385 - accuracy: 0.7357
Epoch 21/100
804/804 [==============================] - 1s 818us/step - loss: 0.5384 - accuracy: 0.7366
Epoch 22/100
804/804 [==============================] - 1s 797us/step - loss: 0.5379 - accuracy: 0.7374
Epoch 23/100
804/804 [==============================] - 1s 826us/step - loss: 0.5381 - accuracy: 0.7377
Epoch 24/100
804/804 [==============================] - 1s 815us/step - loss: 0.5372 - accuracy: 0.7376
Epoch 25/100
804/804 [==============================] - 1s 804us/step - loss: 0.5370 - accuracy: 0.7380
Epoch 26/100
804/804 [==============================] - 1s 812us/step - loss: 0.5372 - accuracy: 0.7380
Epoch 27/100
804/804 [==============================] - 1s 805us/step - loss: 0.5369 - accuracy: 0.7371
Epoch 28/100
804/804 [==============================] - 1s 800us/step - loss: 0.5366 - accuracy: 0.7379
Epoch 29/100
804/804 [==============================] - 1s 822us/step - loss: 0.5362 - accuracy: 0.7392
Epoch 30/100
804/804 [==============================] - 1s 820us/step - loss: 0.5360 - accuracy: 0.7383
Epoch 31/100
804/804 [==============================] - 1s 809us/step - loss: 0.5356 - accuracy: 0.7392
Epoch 32/100
804/804 [==============================] - 1s 820us/step - loss: 0.5359 - accuracy: 0.7390
Epoch 33/100
804/804 [==============================] - 1s 814us/step - loss: 0.5351 - accuracy: 0.7388
Epoch 34/100
804/804 [==============================] - 1s 817us/step - loss: 0.5353 - accuracy: 0.7388
Epoch 35/100
804/804 [==============================] - 1s 821us/step - loss: 0.5348 - accuracy: 0.7397
Epoch 36/100
804/804 [==============================] - 1s 810us/step - loss: 0.5348 - accuracy: 0.7395
Epoch 37/100
804/804 [==============================] - 1s 827us/step - loss: 0.5344 - accuracy: 0.7395
Epoch 38/100
804/804 [==============================] - 1s 811us/step - loss: 0.5345 - accuracy: 0.7398
Epoch 39/100
804/804 [==============================] - 1s 814us/step - loss: 0.5340 - accuracy: 0.7394
Epoch 40/100
804/804 [==============================] - 1s 821us/step - loss: 0.5340 - accuracy: 0.7389
Epoch 41/100
804/804 [==============================] - 1s 817us/step - loss: 0.5338 - accuracy: 0.7386
Epoch 42/100
804/804 [==============================] - 1s 820us/step - loss: 0.5340 - accuracy: 0.7393
Epoch 43/100
804/804 [==============================] - 1s 841us/step - loss: 0.5336 - accuracy: 0.7393
Epoch 44/100
804/804 [==============================] - 1s 825us/step - loss: 0.5330 - accuracy: 0.7386
Epoch 45/100
804/804 [==============================] - 1s 820us/step - loss: 0.5337 - accuracy: 0.7390
Epoch 46/100
804/804 [==============================] - 1s 836us/step - loss: 0.5326 - accuracy: 0.7399
Epoch 47/100
804/804 [==============================] - 1s 818us/step - loss: 0.5328 - accuracy: 0.7403
Epoch 48/100
804/804 [==============================] - 1s 836us/step - loss: 0.5328 - accuracy: 0.7406
Epoch 49/100
804/804 [==============================] - 1s 818us/step - loss: 0.5326 - accuracy: 0.7393
Epoch 50/100
804/804 [==============================] - 1s 806us/step - loss: 0.5328 - accuracy: 0.7401
Epoch 51/100
804/804 [==============================] - 1s 811us/step - loss: 0.5325 - accuracy: 0.7395
Epoch 52/100
804/804 [==============================] - 1s 805us/step - loss: 0.5320 - accuracy: 0.7397
Epoch 53/100
804/804 [==============================] - 1s 801us/step - loss: 0.5322 - accuracy: 0.7406
Epoch 54/100
804/804 [==============================] - 1s 809us/step - loss: 0.5318 - accuracy: 0.7400
Epoch 55/100
804/804 [==============================] - 1s 825us/step - loss: 0.5320 - accuracy: 0.7402
Epoch 56/100
804/804 [==============================] - 1s 805us/step - loss: 0.5318 - accuracy: 0.7413
Epoch 57/100
804/804 [==============================] - 1s 840us/step - loss: 0.5318 - accuracy: 0.7404
Epoch 58/100
804/804 [==============================] - 1s 815us/step - loss: 0.5315 - accuracy: 0.7411
Epoch 59/100
804/804 [==============================] - 1s 816us/step - loss: 0.5317 - accuracy: 0.7397
Epoch 60/100
558/804 [===================>..........] - ETA: 0s - loss: 0.5311 - accuracy: 0.7409